<h1>How do you eat an Elephant?</h1>

<h1>One bite at a time.</h1>

<p>
Mammoth Task is a simple concept supported by a proven strategy. <br>
Breaking down  larger tasks, events, and projects into smaller more obtainable goals helps to build momentum and eventual success.

Birthday party to plan?
Wedding to prepare for?
Work project ?

Managing this process can be a challenge all on its own. Mammoth will have you to define the BIG project and guide you to include the small things (subtasks) that need to happen to check the big one off the list...   The subtasks are then evenly spread out and placed in your calendar.
Take small bites, checking off each smaller task and before you know it you’ve eaten the Elephant.
</p>

{{yield}}
