<form class="landing-sign-in" {{action 'authenticate' on= 'submit'}}>
  {{input placeholder="E-mail" type="email" value=identification}}
  {{input placeholder="Password"  type="password" value=password}}
    <button type="submit" name="button">Log In</button>
</form>
