<div class="landing-container">
  <div class='landing-modal'>
        <img src="assets/mammothLogoV4.png" class="landing-logo" alt="mammoth logo" />

    <h1 class="landing-heading">
      Mammoth Task
    </h1>

    <hr>



    <h3 class="landing-tagline">Manage BIG problems in small bites.</h3>

    <form class="pure-form landing-sign-in" {{action 'authenticate' on= 'submit'}}>
      <fieldset class="pure-group signin-fieldset">
        {{input placeholder="E-mail" type="email" value=identification}} {{input placeholder="Password" type="password" value=password}}
        <button class="pure-button button-main" type="submit" name="button">Sign In</button>
      </fieldset>
    </form>
  </div>
</div>
