<div class='subtask-create-container'>
  <form class="pure-form pure-form-stacked subtask-form" {{action "createSubtask" on="submit"}}>
    <fieldset>
      <legend>Enter Sub Tasks and Priority Here</legend>

      {{input type="text" placeholder="Subtask" value=model.subtaskname}}

      <select id="Priority">
        <option>High</option>
        <option>Normal</option>
        <option>Low</option>
      </select>

    </fieldset>

    <button class="pure-button button-main" type="submit" name="button">Create Subtask</button>

  </form>

</div>

{{yield}}
