<form class="task-form" {{action "createSubtask" on="submit"}}>
  {{input type="text" placeholder=subtask}}

  <button class="pure-button button-main" type="submit" name="button">Create Subtask</button>

</form>

{{yield}}
