<h4>Hello{{model.name}}</h4>
{{#link-to 'sessions.destroy'}}
  <button type="button" name="button">Log Out</button>
{{/link-to}}

<img src="assets/mammoth.png" class="sessions-logo" alt="mammoth logo" />

<p>Create a custom Project, Goal, or Event.</p>
<p> Mammoth will help you achieve it.</p>
<button type="button" name="button">Create</button>
<p>Manage your Progress Here</p>
<button type="button" name="button">Manage</button>
