
<div class=current-user-background>
  <div class="users-current-nav">
    <h1 class="current-user-heading">
      Mammoth Task
    </h1>

    <h4 class="greeting">Hello {{model.name}}</h4>

  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Manage</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">How to Use</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Contact</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Email</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Twitter</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Github</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="log-out-header">
{{#if session.isAuthenticated}}
  <button class="pure-button log-out" name="button" {{action 'invalidateSession'}}>Log Out</button>
{{/if}}
</div>
  </div>
  <div class="users-current-container">
    <img src="assets/mammothLogoV4.png" class="create-manage-logo" alt="mammoth logo" />

    <div class="create-manage-description">
      <div class="create-description">
        <h3>Create a custom Project.</h3>
        {{#link-to 'tasks.create'}}
          <button class="pure-button button-main" type="submit" name="button">Create</button>

        {{/link-to}}
      </div>

      <div class="manage-description">
        <h3>Manage your Progress Here</h3>
        <button class="pure-button button-main" type="submit" name="button">Manage </button>

      </div>
      {{!-- <div id='calendar'></div> --}}
    </div>
  </div>
</div>
