<header class="users-current-header">
<h4>Hello {{model.name}}</h4>
{{#if session.isAuthenticated}}
{{#paper-button raised=true action='invalidateSession'}}Log Out{{/paper-button}}
{{/if}}

</header>

  <img src="assets/mammoth.png" class="create-manage-logo" alt="mammoth logo" />

<div class="create-manage-description">

  <div class="create-description">
    <p>Create a custom Project, Goal, or Event.</p>
    <p> Mammoth will help you achieve it.</p>
    {{#link-to 'tasks.create'}}
    {{#paper-button classNames="md-primary" raised=true action="createTask" on="submit"}}Create{{/paper-button}}
    {{/link-to}}
  </div>

  <div class="manage-description">
    <p>Manage your Progress Here</p>
    {{#paper-button classNames="md-primary" raised=true action="Manage" on="submit"}}Manage{{/paper-button}}
  </div>

</div>
