
<div class=current-user-background>
  <div class="users-current-nav">
    <h4 class="greeting">Hello {{model.name}}</h4>
    <h1 class="current-user-heading">
      Mammoth Task
    </h1>
    <div class="log-out-header">
    {{#if session.isAuthenticated}}
      <button class="pure-button log-out" name="button" {{action 'invalidateSession'}}>Log Out</button>
    {{/if}}
  </div>
<div class="circle-logo">
  <a href="about">
    <img src="assets/mammothLogoV2.png" class="circle-logo-img" alt="mammoth logo" />
  </a>
</div>


  </div>
  <div class="users-current-container">
    <img src="assets/mammothLogoV2.png" class="create-manage-logo" alt="mammoth logo" />



    <div class="create-manage-description">
      <div class="create-description">
        <h3>Create a custom Project.</h3>
        {{#link-to 'tasks.create'}}
          <button class="pure-button button-main" type="submit" name="button">Create</button>

        {{/link-to}}
      </div>

      <div class="manage-description">
        <h3>Manage your Progress Here</h3>
        <button class="pure-button button-main" type="submit" name="button">Manage </button>

      </div>
      {{!-- <div id='calendar'></div> --}}
    </div>
  </div>
</div>
