<form class="sign-up" {{action "createUser" on="submit"}}>
  {{paper-text label="Name" value=model.name}}
  {{paper-text label="E-mail" type='email' value=model.username}}
  {{paper-text label="Password" type="password" value=model.password}}

  {{#link-to 'users.current'}}
    {{#paper-button raised=true classNames="md-primary"}}Sign Up{{/paper-button}}
  {{/link-to}}
</form>
