.users-current-nav {
  background-color: #fff;
  height: 80px;
  z-index: 10;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  position: fixed;
  padding: 0.5em;
  border-top: 6px solid RGBA(110, 12, 14, 1);
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.60);
}

.current-user-heading {
  @include span-columns(3.5);
  @include omega();
  margin: 0 auto;
  // text-align: center;
  vertical-align: baseline;
  color: RGBA(0, 150, 136, 1);
  font-weight: 900;
  font-size: 2em;
  padding-left: 2em;
}

.current-user-heading span{
  font-weight: 200;
}

.pure-menu-horizontal {
  @include span-columns(4);
}


.log-out-header {
  @include span-columns(3);
  vertical-align: baseline;
  float: right;
}

.log-out-anchor{
  @include span-columns(.5);
  color:black;
}

// .greeting h4{
//   // @include span-columns(3);
//   // @include omega();
//   padding: 1em;
//   float: right;
// }
