.app-tutorial-container{
  @include outer-container(1080px);
  background-color: $medium-gray;
  padding: 10em 2em 2em 2em;
}

.centered-container{
  @include span-columns(8);
  @include shift(2);
}

.tutorial-header{
  color:$main-red;
  text-align: center;
}

.current-screenshot-instruction{
  @include span-columns(8);
  @include shift(2);
  text-align: center;
  font-size: 1.25em;
}
.create-screenshot-instruction{
  @include span-columns(8);
  @include shift(2);
  text-align: center;
  font-size: 1.25em;
}
.manage-page-screenshot-instruction{
  @include span-columns(8);
  @include shift(2);
  text-align: center;
  font-size: 1.25em;
}

.currentSS{
  width: 450px;
  height: auto;
}

.createSS{
  width:450px;
  height: auto;
}

.manageSS{
  width: 450px;
  height: auto;
}
