//////////Landing////////////

.button-main{
  margin: 1em;
  display: block;
}
.non-member{
  background-color: RGBA(215, 210, 204, 1);
}

.landing-container{
  @include outer-container(1080px);
  text-align: center;
}

.landing-logo{
  @include span-columns(6);
  @include shift (3);
}

.landing-modal{
  @include span-columns(6);
  @include shift(3);
  margin-top:10%;
  background-color:#fff;
  border: 1px solid $medium-gray;
  border-radius: 4px;
  box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.24);
  padding: 2%;
  position: relative;
}


.landing-heading{
  color: RGBA(0, 150, 136, 1);
  font-weight: 300;
  font-size: 4em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 10px rgba(0,0,0,0.1),
               0px 10px 15px rgba(0,0,0,0.1);


}

.landing-tagline{
  color:RGBA(223, 134, 66, 1);
  font-weight: 200;
}
