// .about-container{
//   @include outer-container(500px);
//   background-color: $medium-gray;
// }

// .about-title{
//   @include span-columns(10);
// }

.modal-fog {
    @include fadeIn();
  background: rgba(30, 30, 30, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
.modal-frame {
  position: absolute;
  top: 10%;
  left: 20%;
  border: 1px solid #333;
  background: #ddd;
  height: 200px;
  width: 200px;
}
.modal-title {
  background-color: $medium-gray;
  position: absolute;
  top: 0;
  text-align: center;

}
.modal-body {

  background-color: $medium-gray;
  margin-top: 40px;
  padding: 5px;
  overflow: scroll;
}
