@media (min-width : 320px) and (max-width: 667px){

  .manage-list-item h2{
    text-align: center;
    color:$main-red;
    font-weight: 600;
    text-transform: uppercase;
  }

  .manage-list-item p{
    text-align:center;
  }

  .manage-create-new{
    text-align: center;
    float: none;
    z-index: 500;
    width: 150px;
    height: 50px;
    border-radius: 0;
    margin-right: auto;
    margin-top: 2em;
    margin-left:auto;
  }
  .subtask-list{
    text-align: center;
  }

  .mobile-button{
    margin:0 auto;
  }

}


// @media (min-width : 320px) and (max-width : 650px)
//
// @media (min-width : 650px)
// and (max-width : 1000px) {
//
// @media (min-width : 320px ) and (max-width : 750px)
//
// @media (min-width : 751px) and (max-width : 1000px)
//
// @media (min-width : 480px)
// @media (min-width : 480px)
// and (max-width : 700px)
// @media (min-width : 480px)
// and (max-width : 700px)
// and (max-width : 1000px)
