///////////Task Create//////////////

.task-create-container{
  @include outer-container(1080px);
  background-color:$medium-gray;
}

.subtask-create-container{
  @include outer-container(1080px);
  background-color:$medium-gray;
}

.task-form{
  @include span-columns(10);
  @include shift(2);
  margin-top: 5em;
}

.task-form input{
  @include span-columns(10);
}
// .save-project{
//   @include span-columns(2);
// }

.subtask-form{
  @include span-columns(10);
  @include shift(2);
}

.subtask-form input{
  @include span-columns(10);
}

.custom-restricted-width{
  @include span-columns(2);
  background-color: RGBA(84, 115, 115, 1);
  float:left;
  margin-top: 15em;
}

.add-button{
  height: 5em;
  width: 5em;
  border-radius: 50%;
}
