@media (max-width: 667px){

  .manage-list-item h2{
    text-align: center;
    color:$main-red;
    font-weight: 600;
    text-transform: uppercase;
  }

  .manage-list-item p{
    text-align:center;
  }

  .manage-create-new{
    text-align: center;
    float: none;
    z-index: 500;
    width: 150px;
    height: 50px;
    border-radius: 0;
    margin-right: auto;
    margin-top: 2em;
    margin-left:auto;
  }
}
