.manage-container{
  @include outer-container(1080px);
  background-color: $medium-gray;
}

.manage-header{
  padding-top: 110px;
  text-align: center;
}

.manage-list{
  padding: 3em;
}

.manage-list-item h2{
  color:$main-red;
  font-weight: 600;
}

.manage-subtask{
  color:$main-teal;
}

.manage-subtask-label{
  text-decoration:underline;
  margin-bottom:.5em;
}

.delete-task{
  right:0px;
}
