///////////Task Create//////////////

.task-create-container{
  @include outer-container(1080px);
  background-color:$medium-gray;
}

.subtask-create-container{
  @include outer-container(1080px);
  background-color:$medium-gray;
}

.task-form{
  @include span-columns(8);
  margin-top: 15em;
}

.task-form input{
  @include span-columns(8);
}

.subtask-form{
  @include span-columns(8);
  @include shift(3);
}

.subtask-form input{
  @include span-columns(8);
}

.custom-restricted-width{
  @include span-columns(3);
  background-color: RGBA(84, 115, 115, 1);
  float:left;
  margin-top: 15em;
}
