/////////Users-Current Session///////////

// .circle-logo {
//   z-index: 10;
//   position: relative;
//   height: 150px;
//   width: 150px;
//   background-color: RGBA(171, 199, 200, 1);
//   border-radius: 50%;
//   border: 3px solid RGBA(110, 12, 14, 1);
// }
//
// .circle-logo img {
//   height: 75px;
//   width: auto;
// }

.create-manage-logo {
  @include span-columns(6);
  @include shift(3);
  @include fadeIn(
    $duration: 2s,
    $delay: .4s,
    $function: ease
  );
  padding-top: 7em;
}

.users-current-container {
  @include outer-container(1080px);
  text-align: center;
  background-color: $medium-gray;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.60);
}

.create-description {
  @include span-columns(3);
  @include shift(2);
  padding: 2em;
  color: #97292c;
}

.manage-description {
  @include span-columns(3);
  @include shift(2);
  padding: 2em;
  color: #97292c;
}

.create-description {
  border-top: 1px solid $dark-gray;
}

.manage-description {
  border-top: 1px solid $dark-gray;
}
