<form class="sign-up" action="create-user-session" method="post">
  <input type="text" name="name" value="First Name">
  <input type="text" name="name" value="Last Name">
  <input type="text" name="name" value="Email">
  <input type="text" name="name" value="Password">
  <input type="text" name="name" value="Password Repeat">
</form>

{{outlet}}
