<h4>UserName <button type="button" name="button">Log Out</button></h4>


<img src="assets/mammoth.png" class="sessions-logo" alt="mammoth logo" />

<p>Create a custom Project, Goal, or Event.</p>
<p> Mammoth will help you achieve it.</p>
<button type="button" name="button">Create</button>
<p>Manage your Progress Here</p>
<button type="button" name="button">Manage</button>

{{outlet}}
