
<img src="assets/mammoth.png" class="landing-logo" alt="mammoth logo" />
<h1>Manage BIG problems in small bites.</h1>

{{#link-to 'sessions.create'}}

  <form class="landin-sign-in" action="landing-sign-in" method="post">

    <label>User Name<input type="email" name="name" value="Email"></label>
    <label>Password<input type="text" name="name" value="Password"></label>
  </form>

{{/link-to}}

{{#link-to 'users.create'}}
{{#paper-button raised=true action="raisedButton"}}Not a member? Sign Up Now{{/paper-button}}

{{/link-to}}


{{outlet}}
