<div class="landing-container">
  <div class='landing-modal'>

    <h1 class="landing-heading">
      Mammoth Task
    </h1>

  <img src="assets/mammoth.png" class="landing-logo" alt="mammoth logo" />

  <h1 class="landing-tagline">Manage BIG problems in small bites.</h1>


{{#if session.isAuthenticated}}
  {{#link-to 'users.current'}}

    <button class="pure-button button-main" name="button" >Go to my profile</button>

  {{/link-to}}

  <button class="pure-button " name="button" {{action 'invalidateSession'}}> Log Out</button>

  {{else}}

  {{#link-to 'sessions.create'}}

  <button class="pure-button button-main" name="button">Log In</button>

  {{/link-to}}
{{/if}}

  {{#link-to 'users.create'}}
  <button class="pure-button button-main" name="button">Not a member? Sign Up Now</button>
  {{/link-to}}
</div>
</div>
{{outlet}}
