<div class="landing-container">
  <div class='landing-modal'>
    <img src="assets/mammothLogoV4.png" class="landing-logo" alt="mammoth logo" />
    <h1 class="landing-heading">
      MAMMOTH<span> task</span>
    </h1>

    <hr>
    <h3 class="landing-tagline">Manage BIG problems in small bites.</h3>

    <div class="landing-option-buttons">
    {{#if session.isAuthenticated}}
      {{#link-to 'users.current'}}

        <button class="pure-button button-main" name="button">Go to my profile</button>

      {{/link-to}}

      <button class="pure-button " name="button" {{action 'invalidateSession'}}>Log Out</button>

    {{else}}

      {{#link-to 'sessions.create'}}

        <button class="pure-button button-main" name="button">Log In</button>

      {{/link-to}}
    {{/if}}

    {{#link-to 'users.create'}}
      <button class="pure-button non-member" name="button">Not a member? Sign Up Now</button>
    {{/link-to}}
  </div>
  </div>
</div>

{{outlet}}
